apiVersion: v1
kind: Service
metadata:
  name: wordpress
  labels: { { - include "wordpress-client.labels" . | nindent 4 } }
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector: { { - include "wordpress-client.selectorLabels" . | nindent 4 } }
